.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.enigma_machine {
    border: 3px solid black;
    margin: 5px;
    background-color: saddlebrown;

    .header {
        margin: auto;
        text-align: center;
        color: white;
        font-family: "Lucida Console", "Courier New", monospace;
    }

    .spinners {
        background-color: antiquewhite;
        border: 3px solid black;
        margin: 5px;
        display: block;
    }

    .spinners img {
        width: 32%;
    }

    #message_display {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-top: 3px solid black;
        padding: 5px;
        background-color: black;
        color: lightgreen;
    }

    #message_display p {
        padding: 3px;
        font-family: "Lucida Console", "Courier New", monospace;
    }    
}

.fish_tank {

    .fish_wrapper {
        width: 18%;
        display: inline;
    }

    .fish_wrapper img {
        width: 18%;
        display: inline;
    }    
}